@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Include Icons -->
<script src="https://use.fontawesome.com/fe459689b4.js"></script>


<!-- Page Title / Welcome Message -->
<div class="text-center">
    <h1 class="display-4">Welcome To the Site</h1>
</div>


<!-- Loop through the list of posts -->
@foreach (var post in Model)
{
    <!-- Create an accordian item -->
    <div class="accordion-item">
        <div class="accordion-header collapsed" onclick="toggleAccordion('@post.AuthorName')">
            <div class="header-content">
                <div class="left-content">
                    <!-- Put the Authors Name, Post Title and Date of Publication in accordian header -->
                    @($"{post.AuthorName} - {post.PostTitle} - Date")
                </div>
                <div class="right-content">
                    <!-- Put the Likes, Dislike and Views icons and number in accordian header -->
                    <span class="thumbs-up" onclick="toggleLikeDislike('@post.AuthorName', 'like')"><i class="fa fa-thumbs-up"></i> <span id="likes@post.AuthorName">@post.LikeCount</span></span>
                    <span class="thumbs-down" onclick="toggleLikeDislike('@post.AuthorName', 'dislike')"><i class="fa fa-thumbs-down"></i> <span id="dislikes@post.AuthorName">@post.DislikeCount</span></span>
                    <span class="views" onclick="incrementViews('@post.AuthorName')"><i class="fa fa-eye"></i> <span id="views@post.AuthorName">@post.ViewCount</span></span>
                </div>
            </div>
        </div>
        <div id="@post.AuthorName" class="accordion-body">
            <!-- Put the Content of the post in the accordian body -->
            <strong>@post.Content</strong>
            <div class="like-dislike-buttons">
                <!-- Put the Like and Dislike Button in the accordian body -->
                <button class="likesbtn" id="likeButton@post.AuthorName" onclick="toggleLikeDislike('@post.AuthorName', 'like')"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
                <button class="likesbtn" id="dislikeButton@post.AuthorName" onclick="toggleLikeDislike('@post.AuthorName', 'dislike')"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
}


<script src="~/js/site.js"></script>